.container {
    max-width: 1000px; 
    margin: 5px auto;
    padding: 5px;
 }

.header {
    display: flex;
}

.newTask {
    min-width: 80%;
}

.button {
    background-color: teal;
    color: white;
    min-width: 15%;
    
}


