html {
    box-sizing: border-box;
    background-color: rgb(237, 237, 237);
}


*,
::after,
::before {
    box-sizing: inherit;
}

.body {
    font-family: 'Lato', sans-serif;
    max-width: 1000px;
    margin: auto;
}

